# TCRD Intro (Appyter)

* http://juniper.health.unm.edu/tcrd/
* http://juniper.health.unm.edu/tcrd/api.html
* https://pharos.nih.gov/idg/api

In [1]:
import sys, json, urllib.request
import pandas as pd
import matplotlib.pyplot
import mysql.connector as mysql

In [2]:
DBHOST = "tcrd.kmc.io"
DBNAME = "tcrd6110"
DBUSR = "tcrd"

In [3]:
dbcon = mysql.connect(host=DBHOST, db=DBNAME, user=DBUSR)

### Db Info

In [4]:
pd.read_sql("SELECT * FROM dbinfo", dbcon)

  dbname schema_ver data_ver     owner  is_copy dump_file
0   tcrd      6.6.2   6.11.0  smathias        0      None

### Select target

In [5]:
sql = """SELECT * FROM target
LEFT OUTER JOIN t2tc ON t2tc.target_id = target.id
LEFT OUTER JOIN protein p ON p.id = t2tc.protein_id
WHERE p.sym = 'CDK1'"""
df = pd.read_sql(sql, dbcon)
df

,id,name,ttype,description,comment,tdl,idg,fam,famext,target_id,...,uniprot,up_version,geneid,sym,family,chr,seq,dtoid,stringid,dtoclass
0,336,Cyclin-dependent kinase 1,Single Protein,None,None,Tchem,0,Kinase,Kinase,336,...,P06493,3,983,CDK1,Belongs to the protein kinase superfamily. CMG...,None,MEDYTKIEKIGEGTYGVVYKGRHKTTGQVVAMKKIRLESEEEGVPS...,DTO_03100066,ENSP00000378699,CDK1 subfamily