<img align="right" src="https://druggablegenome.net/IDG_Images_Index/IDGLOGO.png" width="400">

# TCRD Introduction

* http://juniper.health.unm.edu/tcrd/
* http://juniper.health.unm.edu/tcrd/api.html
* https://pharos.nih.gov/idg/api

### Imports and installs

In [1]:
import sys, json, urllib.request
import pandas as pd
import matplotlib.pyplot
import mysql.connector as mysql

### DB Specs

In [2]:
DBHOST = "tcrd.kmc.io"
DBNAME = "tcrd6110"
DBUSR = "tcrd"

### Connect

In [3]:
dbcon = mysql.connect(host=DBHOST, db=DBNAME, user=DBUSR)

### Db Info

In [4]:
pd.read_sql("SELECT * FROM dbinfo", dbcon)

  dbname schema_ver data_ver     owner  is_copy dump_file
0   tcrd      6.6.2   6.11.0  smathias        0      None

### Select target

In [5]:
sql = """SELECT * FROM target
LEFT OUTER JOIN t2tc ON t2tc.target_id = target.id
LEFT OUTER JOIN protein ON protein.id = t2tc.protein_id
WHERE p.uniprot = 'P06493'"""
df = pd.read_sql(sql, dbcon)
df

DatabaseError: Execution failed on sql 'SELECT * FROM target
LEFT OUTER JOIN t2tc ON t2tc.target_id = target.id
LEFT OUTER JOIN protein ON protein.id = t2tc.protein_id
WHERE p.uniprot = 'P06493'': 1054 (42S22): Unknown column 'p.uniprot' in 'where clause'