<img align="right" src="https://druggablegenome.net/IDG_Images_Index/IDGLOGO.png" width="400">

# TCRD Introduction

* http://juniper.health.unm.edu/tcrd/
* http://juniper.health.unm.edu/tcrd/api.html
* https://pharos.nih.gov/idg/api

### Imports and installs

In [2]:
import sys, json, urllib.request
import pandas as pd
import matplotlib.pyplot
import altair #Ok for Colaboratory, not GitHub
!pip install mysql-connector-python
import mysql.connector as mysql

Requirement already satisfied: mysql-connector-python in /home2/app/anaconda3/lib/python3.7/site-packages (8.0.26)
Requirement already satisfied: protobuf>=3.0.0 in /home2/app/anaconda3/lib/python3.7/site-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in /home2/app/anaconda3/lib/python3.7/site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.12.0)

### DB Specs

In [3]:
DBHOST = "tcrd.kmc.io"
DBNAME = "tcrd6110"
DBUSR = "tcrd"

### Connect

In [4]:
dbcon = mysql.connect(host=DBHOST, db=DBNAME, user=DBUSR)

### Db Info

In [8]:
pd.read_sql("SELECT * FROM dbinfo", dbcon)

  dbname schema_ver data_ver     owner  is_copy dump_file
0   tcrd      6.6.2   6.11.0  smathias        0      None

### List tables:

In [9]:
pd.read_sql("SHOW TABLES", dbcon)

     Tables_in_tcrd6110
0    TCRDv6.11v3_merged
1             affiliate
2                 alias
3               clinvar
4     clinvar_phenotype
..                  ...
110           viral_ppi
111       viral_protein
112               virus
113                xref
114           xref_type

[115 rows x 1 columns]

### Fetch targets

In [10]:
sql='''
SELECT
	target.id tcrdTargetId,
	target.name tcrdTargetName,
	target.fam tcrdTargetFamily,
	target.tdl TDL,
	target.ttype tcrdTargetType,
	target.idg idgList,
	protein.id tcrdProteinId,
	protein.sym tcrdGeneSymbol,
	protein.family tcrdProteinFamily,
	protein.geneid ncbiGeneId,
	protein.uniprot uniprotId,
	protein.up_version uniprotVersion,
	protein.chr,
	protein.description tcrdProteinDescription,
	protein.dtoid dtoId,
	protein.dtoclass dtoClass,
	protein.stringid ensemblProteinId
FROM
        target
JOIN
  t2tc ON t2tc.target_id = target.id
JOIN
  protein ON protein.id = t2tc.protein_id
'''

tgts = pd.read_sql(sql, dbcon)
tgts.head()

,tcrdTargetId,tcrdTargetName,tcrdTargetFamily,TDL,tcrdTargetType,idgList,tcrdProteinId,tcrdGeneSymbol,tcrdProteinFamily,ncbiGeneId,uniprotId,uniprotVersion,chr,tcrdProteinDescription,dtoId,dtoClass,ensemblProteinId
0,1,Cystathionine gamma-lyase,Enzyme,Tchem,Single Protein,0,1,CTH,Belongs to the trans-sulfuration enzymes family.,1491.0,P32929,3,None,Cystathionine gamma-lyase,DTO_05004572,Lyase,ENSP00000359976
1,2,Uncharacterized protein C7orf77,None,Tdark,Single Protein,0,2,C7orf77,None,154872.0,A4D0Y5,1,None,Uncharacterized protein C7orf77,None,None,ENSP00000480627
2,3,Uncharacterized protein C8orf34,None,Tdark,Single Protein,0,3,C8orf34,None,116328.0,Q49A92,3,None,Uncharacterized protein C8orf34,None,None,ENSP00000427820
3,4,CGG triplet repeat-binding protein 1,None,Tbio,Single Protein,0,4,CGGBP1,None,8545.0,Q9UFW8,2,None,CGG triplet repeat-binding protein 1,None,None,ENSP00000381429
4,5,Uncharacterized protein C8orf76,None,Tdark,Single Protein,0,5,C8orf76,None,84933.0,Q96K31,1,None,Uncharacterized protein C8orf76,None,None,ENSP00000276704